{% extends 'base.html.twig' %}
{% form_theme calcForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}
    <br />
    <h3>Base liquid nicotine strength calculator</h3>
    {% if calcForm is defined %}
        {{ form_start(calcForm) }}
        {{ form_widget(calcForm) }}
        {{ form_end(calcForm) }}
    {% endif %}

    {% if values is defined %}
        <br />
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Base liquid concentrate, mg/ml</th>
                    <th scope="col">Nicotine (booster) concentrate, mg/ml</th>
                    <th scope="col">Final concentrate, mg/ml</th>
                    <th scope="col" class="bg-primary">Nicotine (booster) volume, ml</th>
                    <th scope="col" class="bg-primary">Liquid base volume, ml</th>
                    <th scope="col">Final volume, ml</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ values.BaseConc }}</td>
                <td>{{ values.NicConc }}</td>
                <td>{{ values.FinalConc }}</td>
                <td class="bg-primary">{{ NicVol|round(1) }}</td>
                <td class="bg-primary">{{ BaseVol|round(1) }}</td>
                <td>{{ values.FinalVol }}</td>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}