{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 posts">
            {% if postValues is not empty %}
                {% for post in postValues|reverse %}


                    <article id="post{{ post.id }}" class="post">
                        <h2><a href="#">{{ post.title }}</a></h2>
                        <p class="post-metadata">
                            <span class="metadata"><i class="fas fa-calendar"></i>{{ post.dateCreated.date|date("Y-m-d H:i") }}</span>
                            <span class="metadata"><i class="fas fa-user"></i>{{ post.username }}</span>
                        </p>
                        <p>{{ post.body }}</p>
                    </article>
                    <form id="form-edit{{ post.id }}" class="hidden">
                        <div class="form-group">
                            <input id="postTitle{{ post.id }}" type="text" class="form-control" value="{{ post.title }}">
                        </div>
                        <p class="post-metadata">
                            <span class="metadata"><i class="fas fa-calendar"></i>{{ post.dateCreated.date|date("Y-m-d H:i") }}</span>
                            <span class="metadata"><i class="fas fa-user"></i>{{ post.username }}</span>
                        </p>
                        <div class="form-group">
                            <input id="postBody{{ post.id }}" type="text" class="form-control" value="{{ post.body }}">
                        </div>
                    </form>
                    <div class="row">
                        <a class="btn btn-primary btn-sm btn-del" data-postid="{{ post.id }}">Delete</a>
                        <a class="btn btn-primary btn-sm btn-edit" data-postid="{{ post.id }}">Edit</a>
                        <span style="margin-left: 1em">
                            <a id="save{{ post.id }}" class="btn btn-success btn-sm btn-save hidden" data-postid="{{ post.id }}">Save</a>
                            <a id="cancel{{ post.id }}" class="btn btn-default btn-sm btn-cancel hidden" data-postid="{{ post.id }}">Cancel</a>
                        </span>
                    </div>


                {% endfor %}
            {% else %}
                <p>Ooops, nothing here</p>
            {% endif %}
        </div>
        <div class="sidebar well well-lg col-sm-3">
            {{ form_start(postForm) }}
            <div class="form-group">
                {{ form_widget(postForm) }}
            </div>
            {{ form_end(postForm) }}
        </div>
    </div>

{% endblock %}